

body   
{
    background: #b6b7bc;
   /* font-size: .80em;*/
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    /*color: #696969;*/
    color: black;
}
.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #3c7587;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}


.style1
{
    font-size: large;
    display: block;
    text-align: center;
    padding: 10px;
    color: black;
}

.style2
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    font-size: medium;
}

.style3
{
    width: 72px;
    height: 66px;
}
.style4
{
    width: 77px;
    height: 71px;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}
/* Made by Aditya Raj Singh, BIT Mesra */
.btn-info{
    background-color: #3c7587;
}
.btn{
    border: none;
}